In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt
from functools import reduce

In [2]:
#loading data sets
usa_data = pd.read_csv("CNRPark+EXT.csv")
usa_data.head()

/tmp/ipykernel_22906/2333733181.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  usa_data = pd.read_csv("CNRPark+EXT.csv")

,camera,datetime,day,hour,image_url,minute,month,occupancy,slot_id,weather,year,occupant_changed
0,A,20150703_0805,3,8,CNRPark/A/free/20150703_0805_1.jpg,5,7,0,1,S,2015,NaN
1,A,20150703_0810,3,8,CNRPark/A/free/20150703_0810_1.jpg,10,7,0,1,S,2015,NaN
2,A,20150703_0815,3,8,CNRPark/A/busy/20150703_0815_1.jpg,15,7,1,1,S,2015,0.0
3,A,20150703_0820,3,8,CNRPark/A/busy/20150703_0820_1.jpg,20,7,1,1,S,2015,0.0
4,A,20150703_0825,3,8,CNRPark/A/busy/20150703_0825_1.jpg,25,7,1,1,S,2015,0.0

In [3]:
#temp data
temp = pd.read_csv("temperature.csv")
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385004 entries, 0 to 385003
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         385004 non-null  object
 1   temperature  385004 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [4]:
humidity = pd.read_csv("relative_humidity.csv")
humidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384946 entries, 0 to 384945
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              384946 non-null  object
 1   relativeHumidity  384946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [5]:
pascals = pd.read_csv("air_pressure.csv")
pascals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384889 entries, 0 to 384888
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      384889 non-null  object
 1   pressure  384889 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [6]:
#merging the datasets
merged_data = pd.merge(temp, humidity, on= "date", how= "inner")
merged_data

                       date  temperature  relativeHumidity
0       2022-01-01 00:00:45    21.035860         53.417366
1       2022-01-01 00:01:50    21.020624         53.440613
2       2022-01-01 00:05:04    20.947382         53.380020
3       2022-01-01 00:06:09    20.926874         53.332943
4       2022-01-01 00:10:28    20.888985         53.270878
...                     ...          ...               ...
100784  2022-12-19 20:22:19    22.593280         47.455044
100785  2022-12-19 20:23:24    22.580782         47.539450
100786  2022-12-19 20:27:43    22.540352         47.503660
100787  2022-12-19 20:29:54    22.536640         47.515472
100788  2022-12-19 20:30:59    22.531563         47.496410

[100789 rows x 3 columns]

In [22]:
weather_data = pd.merge(merged_data, pascals, on= "date", how = "left")
weather_data.head()

                  date  temperature  relativeHumidity  pressure
0  2022-01-01 00:00:45    21.035860         53.417366       NaN
1  2022-01-01 00:01:50    21.020624         53.440613       NaN
2  2022-01-01 00:05:04    20.947382         53.380020       NaN
3  2022-01-01 00:06:09    20.926874         53.332943       NaN
4  2022-01-01 00:10:28    20.888985         53.270878       NaN

In [19]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384889 entries, 0 to 384888
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              384889 non-null  object
 1   temperature       0 non-null       float64
 2   relativeHumidity  0 non-null       float64
 3   pressure          384889 non-null  float64
dtypes: float64(3), object(1)
memory usage: 11.7+ MB

In [18]:
weather_data.isnull().sum()

date                     0
temperature         384889
relativeHumidity    384889
pressure                 0
dtype: int64