In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt
from functools import reduce

In [2]:
#loading data sets
usa_data = pd.read_csv("CNRPark+EXT.csv")
usa_data.head()

/tmp/ipykernel_22906/2333733181.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  usa_data = pd.read_csv("CNRPark+EXT.csv")

,camera,datetime,day,hour,image_url,minute,month,occupancy,slot_id,weather,year,occupant_changed
0,A,20150703_0805,3,8,CNRPark/A/free/20150703_0805_1.jpg,5,7,0,1,S,2015,NaN
1,A,20150703_0810,3,8,CNRPark/A/free/20150703_0810_1.jpg,10,7,0,1,S,2015,NaN
2,A,20150703_0815,3,8,CNRPark/A/busy/20150703_0815_1.jpg,15,7,1,1,S,2015,0.0
3,A,20150703_0820,3,8,CNRPark/A/busy/20150703_0820_1.jpg,20,7,1,1,S,2015,0.0
4,A,20150703_0825,3,8,CNRPark/A/busy/20150703_0825_1.jpg,25,7,1,1,S,2015,0.0

In [3]:
#temp data
temp = pd.read_csv("temperature.csv")
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385004 entries, 0 to 385003
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         385004 non-null  object
 1   temperature  385004 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [4]:
humidity = pd.read_csv("relative_humidity.csv")
humidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384946 entries, 0 to 384945
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              384946 non-null  object
 1   relativeHumidity  384946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [5]:
pascals = pd.read_csv("air_pressure.csv")
pascals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384889 entries, 0 to 384888
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      384889 non-null  object
 1   pressure  384889 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [26]:
#merging the datasets
to_merge = [temp, humidity, pascals]
#using reduce to merge
weather_data = reduce(
    lambda left, right: pd.merge(left, right, on = "date", how= "outer"), to_merge
)
weather_data

                       date  temperature  relativeHumidity   pressure
0       2022-01-01 00:00:45    21.035860         53.417366        NaN
1       2022-01-01 00:01:50    21.020624         53.440613        NaN
2       2022-01-01 00:02:54    21.000704               NaN        NaN
3       2022-01-01 00:03:59    20.974922               NaN        NaN
4       2022-01-01 00:05:04    20.947382         53.380020        NaN
...                     ...          ...               ...        ...
961449  2022-12-19 20:24:30          NaN               NaN  841.03430
961450  2022-12-19 20:25:35          NaN               NaN  841.01874
961451  2022-12-19 20:27:44          NaN               NaN  840.99725
961452  2022-12-19 20:29:55          NaN               NaN  840.99524
961453  2022-12-19 20:31:00          NaN               NaN  840.99115

[961454 rows x 4 columns]

In [27]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961454 entries, 0 to 961453
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              961454 non-null  object
 1   temperature       385004 non-null  float64
 2   relativeHumidity  384946 non-null  float64
 3   pressure          384889 non-null  float64
dtypes: float64(3), object(1)
memory usage: 29.3+ MB

In [29]:
usa_data.head()

,camera,datetime,day,hour,image_url,minute,month,occupancy,slot_id,weather,year,occupant_changed
0,A,20150703_0805,3,8,CNRPark/A/free/20150703_0805_1.jpg,5,7,0,1,S,2015,NaN
1,A,20150703_0810,3,8,CNRPark/A/free/20150703_0810_1.jpg,10,7,0,1,S,2015,NaN
2,A,20150703_0815,3,8,CNRPark/A/busy/20150703_0815_1.jpg,15,7,1,1,S,2015,0.0
3,A,20150703_0820,3,8,CNRPark/A/busy/20150703_0820_1.jpg,20,7,1,1,S,2015,0.0
4,A,20150703_0825,3,8,CNRPark/A/busy/20150703_0825_1.jpg,25,7,1,1,S,2015,0.0

In [30]:
usa_data["date"] = pd.to_datetime(usa_data["datetime"])

/tmp/ipykernel_22906/4029781085.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  usa_data["date"] = pd.to_datetime(usa_data["datetime"])

DateParseError: Unknown datetime string format, unable to parse: 20150703_0805, at position 0