In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt

In [2]:
#loading data sets
usa_data = pd.read_csv("CNRPark+EXT.csv")
usa_data.head()

/tmp/ipykernel_20114/2333733181.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  usa_data = pd.read_csv("CNRPark+EXT.csv")

,camera,datetime,day,hour,image_url,minute,month,occupancy,slot_id,weather,year,occupant_changed
0,A,20150703_0805,3,8,CNRPark/A/free/20150703_0805_1.jpg,5,7,0,1,S,2015,NaN
1,A,20150703_0810,3,8,CNRPark/A/free/20150703_0810_1.jpg,10,7,0,1,S,2015,NaN
2,A,20150703_0815,3,8,CNRPark/A/busy/20150703_0815_1.jpg,15,7,1,1,S,2015,0.0
3,A,20150703_0820,3,8,CNRPark/A/busy/20150703_0820_1.jpg,20,7,1,1,S,2015,0.0
4,A,20150703_0825,3,8,CNRPark/A/busy/20150703_0825_1.jpg,25,7,1,1,S,2015,0.0

In [5]:
#temp data
temp = pd.read_csv("temperature.csv")
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385004 entries, 0 to 385003
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         385004 non-null  object
 1   temperature  385004 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [6]:
humidity = pd.read_csv("relative_humidity.csv")
humidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384946 entries, 0 to 384945
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              384946 non-null  object
 1   relativeHumidity  384946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB

In [7]:
pascals = pd.read_csv("air_pressure.csv")
pascals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384889 entries, 0 to 384888
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      384889 non-null  object
 1   pressure  384889 non-null  float64
dtypes: float64(1), object(1)
memory usage: 5.9+ MB